
		/* commun à toute la page */
body
{font-family: 'Raleway', sans-serif;}

#container  /* marge commune au header et au main*/ 
{width: 95%;
margin: auto;}

a
{text-decoration: none;
color: black;}

.legende /*nom des hotels et des activités*/
{font-weight: bold;}

figure  /*proprietes communes à toutes les figures: marges,angles arrondis*/
{border-radius: 20px;
margin: 15px;
padding: 5px;}


		/* header: logo et menu*/
header
{display: flex;
justify-content: space-between;
flex-wrap: wrap;}

.logo
{width: 100px;
}

#menu
{display: flex;
align-items:center;
}



nav ul
{display: flex;
justify-content: space-around;
min-width: 500px;
padding-left:30px;}

li
{list-style-type: none;
}

nav a:hover
{border-top: 2px solid #0065fc;
color: #0065fc;
padding-top: 20px}


.inscrire a
{font-weight: bold;
color: #0065fc;
padding-left: 50px;


}


		/* footer */
footer
{display: flex;
justify-content: space-around;
background-color: #f2f2f2;
margin-top: 30px;
padding-bottom: 40px;
padding-top: 40px;}

footer section
{}


		/* module de recherche*/

#recherche /* alignement et hauteur du formulaire*/
{display: flex;
height: 50px;}

.fa-map-marker-alt /* icone localisation*/
{background-color: #f2f2f2;
padding: 15px 15px 10px 20px;
border-radius:15px 0px 0px 15px;
}

input	/*champ de reherche*/
{border: 1px solid #f2f2f2;
width: 250px;
font-weight: bold;
text-indent: 5px;}
	
label 	/*bouton recherche*/
{background-color: #0065fc;
color: white;
padding: 12px 12px 3px 12px;;
border-radius:0px 15px 15px 0px;
font-weight: bold;
}

.fa-search
{display: block;
visibility: hidden}


		/*les filtres*/

#filtres
{display: flex;
margin-top: 20px;
flex-wrap: wrap;
}

#boxfiltres
{display: flex;
flex-wrap: wrap;
}

.titre
{margin-right: 20px}

.filtre 	/* les 4 boutons-filtres*/
{height: 50px;
display: flex;
align-items: center;
border-radius: 40px;
border: 2px #f2f2f2 solid; 
margin:10px 20px 10px 00px;/* espacement bouton*/
padding-right: 30px; /* marge interieure bouton*/
}

.filtre i /* les 4 icones des filtres*/
{background-color:#deebff;
color: #0065fc;
font-size: 1.3em;
border-radius: 27px;
padding: 18px;
display: flex;
justify-content: center;
align-items: center;
width: 15px;
height:15px;
margin-right: 10px;
}

.filtre:hover /* changement d'aspect au survol des boutons filtres*/
{color: white;
background-color:#0065fc;
}

#info
{display: flex;
align-items: center;
margin-top: 20px;
margin-bottom: 25px
}

.fa-info /* icone info*/
{color: #0065fc;
border-radius: 30px;
padding: 4px 10px 5px 10px;
border: 2px #f2f2f2 solid;
margin-right: 10px
}


			/* commun à la section hébergement*/

#sectionhebergement /* 2 blocs cote à cote*/
{display:flex;
justify-content: space-around;
margin-bottom: 30px;	
}

.fa-star /* couleur et taille des etoiles*/
{color: #0065fc;
font-size: 0.8em;}

.greystar  /* modif pour étoile grise*/
{color: #f2f2f2;}

	
			/* Hebergement Marseille*/

#hotels 	/* forme et couleur du bloc hotel*/
{max-width: 70%;
background-color: #f2f2f2;
border-radius: 20px;
margin-right: 10px;
padding: 20px 25px 30px 25px;
}

#hotels h2
{margin-left: 25px}

#afficher
{margin-left: 25px;
font-weight: bold;}


#cartes 	/* alignement et retour ligne des 6 boites cartes */
{display: flex;
flex-wrap: wrap;
justify-content: space-around;
margin-right: 20px;
margin-left: -10px}

.boitecarte 	/* taille de chaque boite*/
{width: 30%;
min-width: 200px;
margin-left: 15px;
margin-right: 15px}

.boitecarte figure /*couleur, forme, taille des figures*/
{background-color: white;
width: 95%;
min-width: 200px;
box-shadow: 10px 10px 10px #c3c3c3;}

.boitecarte figure img  /* proprietes photo*/
{width: 100%;
height: 140px;
object-fit: cover;
border-radius: 20px 20px 0px 0px;}

.boitecarte figcaption
{margin-left: 15px}



			/*populaires*/

aside   /* forme et couleur du bloc aside*/
{background-color: #f2f2f2;
border-radius: 20px;
margin-left: 20px;
padding-bottom: 20px;}

#populaires /* alignement titre + icone*/
{display: flex;
justify-content: space-around;
align-items: center;
padding-top: 20px;}

#populaires i
{ font-size: 1.3em }

#cartespop
{margin: 20px 15px 20px 15px;}

.boitepop  /* taille de chaque boite*/
{display: flex;
height: 200px;
min-width :320px;
margin-left: 15px;
margin-right: 15px}

.boitepop figure  /*couleur, forme, taille des figures*/
{background-color: white;
display: flex;
box-shadow: 10px 10px 10px #c3c3c3;}

.boitepop img /* proprietes photo*/
{width: 40%;
height: 100%;
object-fit: cover;
border-radius: 20px 0px 0px 20px;}

.boitepop figcaption
{margin-left: 15px;}


			/*section Activités*/
#sectionactivités
{display: flex;
flex-direction: column;
}

#activites /* taille et alignement du bloc activités*/
{display: flex;
}

#activites figcaption
{padding-left: 15px}

.boxactivite-A  /* hauteur et largeur de la boite 1figure*/
{width: 25%;
height: 600px;
}

.boxactivite-A figure /* hauteur et largeur de la figure A*/
{height: 560px;
box-shadow: 10px 10px 10px #f2f2f2;}

.boxactivite-A img /* proprietes photo*/
{width: 100%;
height: 480px;
object-fit: cover;
border-radius: 20px 20px 0px 0px;}

.boxactivite-B  /* hauteur et largeur de la boite 2figures*/
{width: 25%;
height: 600px;
}

.activite1 		 /* hauteur et largeur de la figure B1*/
{height: 300px;
box-shadow: 10px 10px 10px #f2f2f2;}

.activite2  	/* hauteur et largeur de la figure B2*/
{height: 230px;
box-shadow: 10px 10px 10px #f2f2f2;}

.boxactivite-B img  /* proprietes photo*/
{width: 100%;
height: 80%;
object-fit: cover;
border-radius: 20px 20px 0px 0px;}

/*------------------------------------------*/

				/*media queries*/
/*-------------------------------------------*/
		/* commun tablette et smartphone*/
@media screen and (max-width: 1024px)
{
	body
	{width: auto;}
	
	#menu  /* menu sur 2 lignes avec s'inscrire en haut*/
	{flex-direction: column-reverse;
	align-items: center;
	margin-top: 20px} 

	
	nav a:hover /* bordure bleue sous l'element survolé*/
	{border-top: hidden;
	border-bottom: 2px solid #0065fc;
	padding-bottom: 20px}

	
	#sectionhebergement /* agencement en colonnes en commencant par les populaires*/
	{}

	footer
	{font-size: 0.9em}
	
	
			/* pour smartphone seulement*/
@media all and (max-width: 600px) /*nav mobile*/
{
					/*header*/
	#menu 
	{align-items: flex-end;
	width: 200px;
	} 
	
	nav ul  /* ligne horizontale sous le menu*/
	{border-bottom: 2px solid #f2f2f2;
	padding-bottom: 20px;
	}

	nav a:hover /* bordure bleue sous l'element survolé*/
	{border-top: hidden;
	border-bottom: 2px solid #0065fc;
	}

					/*footer*/
	footer 
	{flex-direction: column;
	padding-left: 30px}


		 	/* module de recherche*/

	label  /* bouton arrondi*/
	{border-radius:15px 15px 15px 15px;}

	.fa-search   /* texte rechercher remplacé par la loupe*/
	{visibility: visible}
	.recherche
	{display: none;}

		
				/*section hebergement*/
	#sectionhebergement /* agencement en colonnes en commencant par les populaires*/
	{flex-direction: column-reverse;}

	aside
	{border-radius: 0px
	}

	#hotels /* supression du fonds gris*/
	{background-color: white;
	margin: auto;}

	.boitecarte
	{width: 100%}

	.boitecarte figure
	{width: 100%}

	.boitecarte figure img
	{height: 120px}


       			/*section Activités*/

   #sectionactivités h2
   {margin-left: 30px;}

    #activites 
    {flex-direction: column;}

    .boxactivite-A  
	{width: 100%;
	height: 300px;
	margin:auto;}

	.boxactivite-A figure 
	{height: 260px;}

	.boxactivite-A img
	{height: 200px}

	.boxactivite-B  
	{width: 100%;
	margin:auto;}
	
	.activite1 		
	{height: 260px;}

	.activite2  	
	{height: 260px;
	}

	.boxactivite-B img  
	{height: 200px;}	
}






