
		/* commun à toute la page */
body
{font-family: 'Raleway', sans-serif;}

#container  /* marge commune au header et au main*/ 
{width: 95%;
margin: auto;}

a
{text-decoration: none;
color:black;}

.legende /*nom des hotels et des activités*/
{font-weight: bold;}

figure  /*proprietes communes à toutes les figures: marges,angles arrondis*/
{border-radius: 20px;
margin: 15px;
padding: 5px;}


		/* header: logo et menu*/
header
{display: flex;
justify-content: space-between;}

.logo
{width: 100px;}

#menu
{width: 35%;}

#menu ul
{display: flex;
justify-content: space-around;
min-width: 300px;}

li
{list-style-type: none;}

#menu a:hover
{border-top: 2px solid #0065fc;
padding-top: 20px}

.inscrire
{font-weight: bold;
color: #0065fc}


		/* footer */
footer
{display: flex;
justify-content: space-around;
background-color: #f2f2f2;
margin-top: 30px;
padding-bottom: 40px;
padding-top: 40px;}


		/* module de recherche*/

#recherche /* alignement et hauteur du formulaire*/
{display: flex;
height: 50px;}

.fa-map-marker-alt /* icone localisation*/
{background-color: #f2f2f2;
padding: 15px 15px 10px 20px;
border-radius:15px 0px 0px 15px;
}

input	/*champ de reherche*/
{border: 1px solid #f2f2f2;
width: 250px;
font-weight: bold;
text-indent: 5px;}
	
label 	/*bouton recherche*/
{background-color: #0065fc;
color: white;
padding: 12px 12px 3px 12px;;
border-radius:0px 15px 15px 0px;
font-weight: bold;}


		/*les filtres*/

#filtres
{display: flex;
margin-top: 20px;
}


.filtre 	/* les 4 boutons-filtres*/
{height: 50px;
display: flex;
align-items: center;
border-radius: 40px;
border: 2px #f2f2f2 solid; 
margin-right:  30px;
margin-left:  30px; /* espacement bouton*/
padding-right: 30px; /* marge interieure bouton*/
}

.filtre i /* les 4 icones des filtres*/
{background-color:#deebff;
color: #0065fc;
font-size: 1.3em;
border-radius: 27px;
padding: 18px;
display: flex;
justify-content: center;
align-items: center;
width: 15px;
height:15px;
margin-right: 10px;
}

.filtre:hover /* changement d'aspect au survol des boutons filtres*/
{color: white;
background-color:#0065fc;
}

#info
{margin-top: 20px;
margin-bottom: 25px}

.fa-info /* icone info*/
{color: #0065fc;
border-radius: 30px;
padding: 4px 10px 5px 10px;
border: 2px #f2f2f2 solid;
margin-right: 10px
}


			/* commun à la section hébergement*/

#sectionhebergement /* 2 blocs cote à cote*/
{display:flex;
justify-content: space-around;
margin-bottom: 30px;	
}

.fa-star /* couleur et taille des etoiles*/
{color: #0065fc;
font-size: 0.8em;}

.greystar  /* modif pour étoile grise*/
{color: #f2f2f2;}

	
			/* Hebergement Marseille*/

#hotels 	/* forme et couleur du bloc hotel*/
{max-width: 70%;
background-color: #f2f2f2;
border-radius: 20px;
margin-right: 10px;
padding: 20px 25px 30px 25px;
}

#hotels h2
{margin-left: 25px}

#afficher
{margin-left: 25px;
font-weight:bold;}

#cartes 	/* alignement et retour ligne des 6 boites cartes */
{display: flex;
flex-wrap: wrap;
justify-content: space-around;
margin-right: 20px;
margin-left: -10px}

.boitecarte 	/* taille de chaque boite*/
{width: 30%;
min-width: 200px;}

.boitecarte figure /*couleur, forme, taille des figures*/
{background-color: white;
width: 95%;
min-width: 200px;
box-shadow: 10px 10px 10px #c3c3c3;}

.boitecarte figure img  /* proprietes photo*/
{width: 100%;
height: 140px;
object-fit: cover;
border-radius: 20px 20px 0px 0px;}

.boitecarte figcaption
{margin-left: 15px}



			/*populaires*/

aside   /* forme et couleur du bloc aside*/
{background-color: #f2f2f2;
border-radius: 20px;
margin-left: 20px;
padding-bottom: 20px;}

#populaires /* alignement titre + icone*/
{display: flex;
justify-content: space-around;
align-items: center}

#populaires i
{ font-size: 1.3em }

#cartespop
{max-width: 80%;
margin: auto;}

.boitepop  /* taille de chaque boite*/
{display: flex;
height: 200px}

.boitepop figure  /*couleur, forme, taille des figures*/
{background-color: white;
width: 100%;
display: flex;
box-shadow: 10px 10px 10px #c3c3c3;}

.boitepop img /* proprietes photo*/
{width: 40%;
height: 100%;
object-fit: cover;
border-radius: 20px 0px 0px 20px;}

.boitepop figcaption
{margin-left: 15px;
display: flex;
flex-direction: column;
justify-content: space-between;}


			/*Activités*/
#sectionactivités
{display: flex;
flex-direction: column}

#activites /* taille et alignement du bloc activités*/
{display: flex;
justify-content: space-between;}

.boxactivite-A  /* hauteur et largeur de la boite 1figure*/
{width: 25%;
height: 600px;
margin-left: -16px}

.boxactivite-A figure /* hauteur et largeur de la figure A*/
{width: 90%;
height: 560px;
box-shadow: 10px 10px 10px #f2f2f2;}

.boxactivite-A img /* proprietes photo*/
{width: 100%;
height: 480px;
object-fit: cover;
border-radius: 20px 20px 0px 0px;}

.boxactivite-B  /* hauteur et largeur de la boite 2figures*/
{width: 25%;
height: 600px}

.activite1 		 /* hauteur et largeur de la figure B1*/
{width: 90%;
height: 300px;
box-shadow: 10px 10px 10px #f2f2f2;}

.activite2  	/* hauteur et largeur de la figure B2*/
{width: 90%;
height: 230px;
box-shadow: 10px 10px 10px #f2f2f2;}

.boxactivite-B img  /* proprietes photo*/
{width: 100%;
height: 80%;
object-fit: cover;
border-radius: 20px 20px 0px 0px;}

/*------------------------------------------*/

				/*media queries*/
/*-------------------------------------------*/

@media screen and (max-width: 480px) /*nav mobile*/
{
	body
	{width: auto;}

			/*header*/
	header
	{flex-wrap: wrap;}

	#menu ul
	{min-width: 100px;
	flex-wrap: wrap;}

			/*footer*/
	footer
	{flex-direction: column;}

		 	/* module de recherche*/
	#filtres
	{flex-direction: column;}

			/*section hebergement*/
	#hebergement
	{flex-direction: column-reverse;
	width: auto;}

	#hotels
	{width: auto}

	aside
	{width: auto}











}






